# A default .editorconfig for Fullstack Golang Next App project.
# Author: Kent Jasper Sisi <kntjspr@pm.me>
# For more information, please visit https://github.com/kntjspr/fullstack-golang-next-template

root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{go.mod,go.sum,*.go}]
indent_style = tab
indent_size = 4

[{Dockerfile,Makefile,*.yml,*.yaml}]
indent_style = tab
indent_size = 2
